body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center content */
  min-height: 100vh; /* Full viewport height */
  gap: 60px; /* Space between sections */
  padding: 20px;
}

.contact-info {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.contact-info p {
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 50px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.info-item .icon {
  margin-right: 10px;
  color: darkolivegreen;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-form {
  flex: 1;
  max-width: 600px; /* Wide form */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact-form .form-title {
  text-align:left;
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #333;
}

.contact-form label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; 
  height: 40px; 
  font-size: 1rem; 
  align-self: center; 
}

.contact-form button:hover {
  background-color: #45a049;
}

.status-message {
  font-size: 1rem;
  color: #4caf50;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 20px;
  }

  .contact-info,
  .contact-form {
    max-width: 100%;
  }
}
