/* Footer Styles */
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-icon {
    font-size: 2rem;
    color: #4c5270; /* Purple color scheme */
    transition: color 0.3s ease;
  }
  
  .footer-icon:hover {
    color: #a29bfe; /* Lighter purple on hover */
    transform: scale(1.1); /* Slight zoom effect */
    transition: transform 0.3s ease, color 0.3s ease;
  }
  